useDynLib(fingerPro)

export(CB_method)
export(CI)
export(CR)
export(CTS_error)
export(CTS_seeds)
export(DFA_test)
export(KW_test)
export(LDA_plot)
export(PCA_plot)
export(box_plot)
export(check_database)
export(correlation_plot)
export(ggbiplot)
export(individual_tracer_analysis)
export(inputMixture)
export(inputSource)
export(plot_results)
export(range_test)
export(raw_dataset)
export(select_tracers)
export(ternary_diagram)
export(unmix)
export(virtual_mixture)
export(write_results)

import(Rcpp)
import(klaR)
import(ggplot2)
import(GGally)
importFrom(rgl, rgl.open, rgl.clear, rgl.close)
importFrom(MASS, lda)
importFrom(grDevices, rainbow)
importFrom(plyr, ddply)
importFrom(dplyr, select, combine, mutate)
importFrom(gridExtra, grid.arrange)
importFrom(reshape, melt)
importFrom(plotly, add_markers, plot_ly)
import(grid)
import(dplyr)
import(scales)
importFrom(car, scatter3d)
importFrom(stats, aggregate, kruskal.test, prcomp, predict, qchisq, sd, var, na.omit, median, quantile, rt, coef, lm.fit, rnorm)
importFrom(utils, write.csv, setTxtProgressBar, txtProgressBar, data, head, tail)
import(Ternary)
importFrom(graphics, par, title)
import(RcppProgress)
