useDynLib(fingerPro)
exportPattern("^[[:alpha:]]+")
import(GGally)
import(ggplot2)
import(grid)
import(gridExtra)
import(klaR)
import(MASS)
import(Rcmdr)
import(Rcpp)
importFrom(plyr, ddply)
importFrom(reshape, melt)
import(rgl)
importFrom(car, scatter3d)
import(scales)
importFrom("stats", "aggregate", "kruskal.test", "prcomp", "predict",
             "qchisq", "sd", "var")
importFrom("utils", "write.csv")
